.cart-item {
  display: flex;
  padding: 1rem;
  height: 7rem;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 15px;
}

.cart-item > img {
  width: 80px;
  height: 120px;
  gap: 14px;
}

.cart-item > div {
  display: flex;
  margin: 0.4rem 1rem;
  flex-direction: column;
  gap: 12px;
}

.cart-item > div > a {
  text-decoration: none;
  font-size: 15px;
}

.cart-item > div > span {
  font-size: 15px;
}

.cart-item > div > button {
  cursor: pointer;
  border: none;
  outline: none;
  background: rgb(217, 136, 29);
  padding: 0.5vmax;
  width: 100px;
  transition: all 200ms ease-in-out;
  font-weight: bold;
}

.cart-item > div > button:hover {
  background: orange;
}

@media screen and (max-width: 600px) {
  .cart-item {
    padding: 1vmax;
    height: 25vmax;
  }
  .cart-item > img {
    height: 60%;
    width: 30%;
  }

  .cart-item > div {
    margin: 1vmax 2vmax;
  }

  .cart-item > div > a {
    font-size: 2vmax;
  }

  .cart-item > div > span {
    font-size: 1.9vmax;
  }

  .cart-item > div > button {
    font-size: 1.8vmax;
  }

  .cart-item > div > button {
    width: 60px;
  }
}
