.payment-gateway-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payment-gateway-container > h1 {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 1rem;
  margin-top: 2rem;
}

.payment-gateway-form {
  margin-top: 2rem;
  /* width: 100%; */
}

.payment-gateway-form > div {
  display: flex;
  /* gap: 10px; */
  margin: 2rem 0rem;
}

.payment-gateway-form > div > svg {
  margin: auto;
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  margin-top: 12px;
  margin-left: 20px;
}

.payment-gateway-input {
  margin: auto;
  padding: 1rem;
  width: 200px;
  border: 1px solid lightslategray;
  padding-left: 80px;
}

.payment-gateway-button {
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(9, 130, 161);
  padding: 1rem;
  transition: all 200ms ease-in-out;
  border: none;
  width: 50%;
  cursor: pointer;
}

.payment-gateway-button:hover {
  background-color: rgb(3, 100, 125);
}
